<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HelloWorld.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{195,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,270}}</string>
                <key>sourceSize</key>
                <string>{195,270}</string>
            </dict>
            <key>bg_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,268}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,268}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>cm_load_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>copy_cardlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,325},{49,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,44}</string>
            </dict>
            <key>hm_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,228},{40,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{40,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>midlayer_titleBk.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{224,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,40}}</string>
                <key>sourceSize</key>
                <string>{224,40}</string>
            </dict>
            <key>shurukuang_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{221,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,44}}</string>
                <key>sourceSize</key>
                <string>{221,44}</string>
            </dict>
            <key>singleColor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>ts_cm_competeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,364},{129,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,49}}</string>
                <key>sourceSize</key>
                <string>{129,49}</string>
            </dict>
            <key>ts_cm_competeBtn_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,274},{129,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,49}}</string>
                <key>sourceSize</key>
                <string>{129,49}</string>
            </dict>
            <key>txt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,274},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>uis_btn_ysmall_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,325},{105,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,49}}</string>
                <key>sourceSize</key>
                <string>{105,49}</string>
            </dict>
            <key>uis_btn_ysmall_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,274},{105,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,49}}</string>
                <key>sourceSize</key>
                <string>{105,49}</string>
            </dict>
            <key>wuping_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{276,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,2}}</string>
                <key>sourceSize</key>
                <string>{276,2}</string>
            </dict>
            <key>wupingkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,274},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{511,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78ff0ef6d15c62168ec563a9389563e4$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
