<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bind.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{808,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,171},{808,458}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>bg_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,446},{340,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,165},{340,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bg_getAward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,2},{700,442}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,80},{700,442}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>bg_getexp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,812},{720,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,150},{720,200}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>bg_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,142},{116,116}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bg_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,446},{340,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,156},{340,88}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bg_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{826,890}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,55},{826,890}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>bg_rankcell.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,894},{824,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,149},{824,102}}</string>
                <key>sourceSize</key>
                <string>{1000,400}</string>
            </dict>
            <key>btn_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,582},{372,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,133},{372,134}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>btn_big_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,446},{372,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,133},{372,134}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>btn_bind.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,812},{202,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,163},{202,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,586},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,133},{134,134}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>btn_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,722},{282,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,134},{282,132}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,446},{138,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,118},{138,164}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>btn_selServer.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,812},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,177},{46,46}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>btn_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,894},{116,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,170},{116,60}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>btn_small_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,894},{116,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,170},{116,60}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>share_pro_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{892,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{892,22}}</string>
                <key>sourceSize</key>
                <string>{892,22}</string>
            </dict>
            <key>share_pro_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{886,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{886,15}}</string>
                <key>sourceSize</key>
                <string>{886,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_res.png</string>
            <key>size</key>
            <string>{2034,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6314088d30f9e41bcc93c83837b55cb$</string>
            <key>textureFileName</key>
            <string>UI_res.png</string>
        </dict>
    </dict>
</plist>
